body{
    font-family: Arial, Helvetica, sans-serif;
    background: #e8e8e8;
}
.Navbar{
    list-style: none;
    padding: 0;
    background: black;
    width: 90%
    max-width: 1334px;
    margin: auto;
}
.Navbar li a{
     text-decoration: none;
     color: white;
     padding: 20px;
     display: block;
}
.Navbar li{
    display: inline-block;
    text-align: center;
}
.Navbar li a:hover{
    background: burlywood;
}

.aboutme{
    background: beige;
    width: 90%;
    margin: auto;
    max-width: 1334px;
    height: 105px;
}
.aboutme ul ol{
    color: rgb(212, 203, 114);
}

.expe{
    background: burlywood;
    text-align: center;
}

.expe h4{
    background: cornsilk;
    margin: auto;
    max-width: max-content;
    max-height: max-content;
}
.expe ul li{
    background: cornsilk;
}